body > div{
   display: inline-block; 
   width: 900px;
   margin-left: calc((100% - 900px) / 2);
   color: #1d1d1de7;

}
header{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    

}
header > img{
    display: inline-block;
    float: left;
   

}
nav{
    display: inline-block;
    float: right;
     
    
}
a{
    display: inline-block;
    color: #1d1d1de7;
    text-transform:uppercase;
    text-decoration: none;
    float: left;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    
}
a:nth-of-type(6){
    display:inline-block;
    margin-top: -3px;
    background-color: #b3aaaae7;
    border: 3px solid #1d1d1de7;
    border-radius: 10px;
}
main{
    display: inline-block;
    width: 100%;
   
    
}
main > img{
    display: inline-block;
    float: left: 20%;
    width: 25%;
    margin-top: 50px;
    margin-left: 15%;

}
main > div{
    display: inline-block;
    width: 40%;
    margin-left: 5%;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 70px;
}
h1{
    display: inline-block;
    float: left;
    width:100%;
    font-size: 20px;

}
p{
    display: inline-block;
    float: left;
    width:100%;
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
}
